.header{
    font-size: 12px;
    background-color: red($color: #000000);
    border: none;
    opacity: 0.3;
    color: red;
}
.footer{
    color: red;
    font-family: fantasy;
    padding: 10px;
    opacity: 1;
    margin: 10px;
}